{% extends 'base.html' %}

{% block main %}
<form method="post" action="">
    <div class="form-elem">
        <div>Nom :</div>
        <input type="text" id="gname" name="gname">
    </div>
    <div class="form-elem">
        <div>Description :</div>
        <input type="text" id="gdesc" name="gdesc">
    </div>
    <div class="form-elem">
        <div>Catégorie :</div>
        <input type="text" id="gcat" name="gcat">
    </div>
    <div class="form-elem">
        <div>Plateforme</div>
        <input type="text" id="gplat" name="gplat">
    </div>
    <div class="form-elem">
        <div>Compagnie</div>
        <input type="text" id="gcomp" name="gcom">
    </div>
    <div class="form-elem">
        <div>Etat</div>
        <input type="text" id="gstate" name="gstate">
    </div>
</form>

{% endblock %}